<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    div{
      margin: 10px auto;
      text-align: center;
    }
  </style>
</head>
<body>
<div>
  <h3>登陆</h3>
  <form action="/login" method="get">
    用户名：<input type="text" name="username"><br />
    密码：<input type="password" name="password"><br />
    <input type="submit" value="提交">
  </form>
</div>
</body>
</html>